extends ../layout

block content

	h1 Checked Out Books
	p
		a.button(href='/books/new') Create New Book
	p
		| Filters 
		a(href='/books') All
		|  
		a(href='/books?filter=overdue') Overdue
		|  
		a(href='/books?filter=checked_out') Checked Out
	table
		thead
			tr
				th Title
				th Author
				th Genre
				th Year Released
		tbody
			each book in checkedBooks
				tr
					td
						a(href='/books/' + book.id) #{book.title}
					td #{book.author}
					td #{book.genre}
					td #{book.first_published}