extends ../layout

block content

	h1 New Book
	
	include errors
	form(method='post')
		p
			label(for='title') Title
			input(type='text', name='title', value=book.title)
		p
			label(for='author') Author
			input(type='text', name='author', value=book.author)
		p
			label(for='genre') Genre
			input(type='text', name='genre', value=book.genre)
		p
			label(for='first_published') First Published
			input(type='text', name='first_published', value=book.first_published)
		p
			input(type='submit', value='Create New Book')