<div class="grid-100 row controls">
  <div class="grid-50">
    <!-- TODO Add a binding expression to display the recipe name 
      when editing a recipe. When adding a recipe, display the 
      static text 'Add New Recipe'. -->
    <h2>Add/Edit Recipe</h2>
  </div>
  <div class="grid-50">
    <div class="flush-right">
      <!-- TODO Add directives to both the "Save Recipe" and "Cancel"
        buttons in order to handle user clicks. -->
      <button>Save Recipe</button>
      <button class="secondary">Cancel</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- TODO Add a directive to this div element so that it only displays
  when there are validation messages to display. -->
<div class="grid-100 row">
  <div class="grid-100">
    <p><i>The following errors were found:</i></p>
    <ul class="validation-errors">
      <!-- TODO Add a directive to this li element so that it repeats
        for each validation message that there is to display -->
      <li>
        <!-- TODO Add a binding expression to display the validation user message. -->
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Name </label>
    </p>
  </div>
  <div class="grid-40">
    <p>
      <!-- TODO Add a directive to this input element to bind its value 
        to the recipe model's `name` property. -->
      <input type="text">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>
  <div class="grid-60">
    <p>
      <!-- TODO Add a directive to this textarea element to bind its content 
        to the recipe model's `description` property. -->
      <textarea></textarea>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Category </label>
    </p>
  </div>
  <div class="grid-30">
    <p>
      <!-- TODO Add directives to this select element to bind its value 
        to the recipe model's `category` property and to populate the list
        with the categories from the database. -->
      <select>
        <option value="">All Categories</option>
      </select>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Prep Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <!-- TODO Add a directive to this input element to bind its value 
        to the recipe model's `prepTime` property. -->
      <input type="number">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Cook Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <!-- TODO Add a directive to this input element to bind its value 
        to the recipe model's `cookTime` property. -->
      <input type="number">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Ingredients </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Item </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Condition </label>
    </p>
  </div>
  <div class="grid-15">
    <p class="label-spacing">
      <label> Amount </label>
    </p>
  </div>

  <!-- TODO Add a directive to this div element so that it repeats 
    for each recipe ingredient to display. -->
  <div class="ingredient-row">
    <div class="prefix-20 grid-30">
      <p>
        <!-- TODO Add directives to this select element to bind its value 
          to the recipe ingredient model's `foodItem` property and to 
          populate the list with the food items from the database. -->
        <select>
          <option value="">Select Item</option>
        </select>
      </p>
    </div>
    <div class="grid-30">
      <p>
        <!-- TODO Add a directive to this input element to bind its value 
          to the recipe ingredient model's `condition` property. -->
        <input type="text">
      </p>
    </div>
    <div class="grid-15">
      <p>
        <!-- TODO Add a directive to this input element to bind its value 
          to the recipe ingredient model's `amount` property. -->
        <input type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!-- TODO Add a directive to this anchor element so that you can 
          delete the recipe ingredient when the user clicks on the 'Delete' link. -->
        <a class="no-action-link"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
      <!-- TODO Add a directive to this button in order to handle 
        when the user clicks to add a new recipe ingredient. -->
      <button>+ Add Another Ingredient</button>
    </p>
  </div>

</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Steps </label>
    </p>
  </div>
  <div class="grid-75">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>

  <!-- TODO Add a directive to this div element so that it repeats 
    for each recipe step to display. -->
  <div class="step-row">
    <div class="prefix-20 grid-75">
      <p>
        <!-- TODO Add a directive to this input element to bind its value 
          to the recipe step model's `description` property. -->
        <input type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!-- TODO Add a directive to this anchor element so that you can 
          delete the recipe step when the user clicks on the 'Delete' link. -->
        <a class="no-action-link"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
     <!-- TODO Add a directive to this button in order to handle 
       when the user clicks to add a new recipe step. -->
     <button>+ Add Another Step</button>
    </p>
  </div>

</div>
<div class="clear"></div>
