head
    meta(charset='utf-8')
    title Twitter Client
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='static/css/global.css', type='text/css')